<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="div-table">
    <table class="table-class" id="table-id" name="table-name">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Surname</th>
            <th>age</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, index  : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.age}"></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>