<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add New User</title>
</head>
<body>

<form th:action="@{/saveUser}" th:object="${new_user}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" th:required="true"><br><br>

    <label for="surname">Surname:</label>
    <input type="text" id="surname" th:field="*{surname}" th:required="true"><br><br>

    <label for="age">Age:</label>
    <input type="number" id="age" th:field="*{age}" th:required="true"><br><br>

    <button type="submit">Save</button>
</form>

</body>
</html>