
.table {
    width: 80%;
    border-collapse: collapse;
    background: beige;
    margin: 0 auto;
}

thead tr,
th {
    background-color: #f8d16d;
    color: #000000;
    text-align: center;
    border: 1px solid black;
}

tbody td {
    border: 1px solid #644b12;
    padding: 5px;
}

th {
    text-align: center;
}

td {
    padding-left: 1%;
}