<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<div class="div-table">
    <table class="table-class" id="table-id" name="table-name">
        <thead>
        <tr>
            <th>#</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car, index  : ${cars}">
            <td th:text="${index.index + 1}"></td>
            <td th:text="${car.make}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.yearOfProduction}"></td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<form th:action="@{/cars}" method="get">
    <label for="carCount">How many cars to show:</label>
    <select id="carCount" name="count" th:onchange="'this.form.submit();'">
        <option th:each="i : ${#numbers.sequence(1, maxCount)}"
                th:value="${i}"
                th:text="${i}"
                th:selected="${i == selectedCount}">
        </option>
    </select>
</form>

</body>
</html>
